nodered flow.json
[{"id":"a4f37cc4.87592","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a3850f49.fe213","type":"ibmiot in","z":"a4f37cc4.87592","authentication":"apiKey","apiKey":"1de7e954.7ff1e7","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"987654321","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":140,"wires":[["efc416b0.c972e8","8571bac3.c873d8","6d88c010.a78a","6dc32cc7.77be64","629e9fd5.5675e"]]},{"id":"efc416b0.c972e8","type":"debug","z":"a4f37cc4.87592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1490,"y":160,"wires":[]},{"id":"8571bac3.c873d8","type":"function","z":"a4f37cc4.87592","name":"humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":40,"wires":[["efc416b0.c972e8","aba9e36d.80597"]]},{"id":"aba9e36d.80597","type":"ui_gauge","z":"a4f37cc4.87592","name":"","group":"34dbfecb.04cea2","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":40,"wires":[]},{"id":"629e9fd5.5675e","type":"http request","z":"a4f37cc4.87592","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Kanpur,IN&appid=7b5347daa35ef0de7b77bda92c22d751","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":360,"wires":[["efc416b0.c972e8","a042afb4.8b19f","668ebc8d.3b62f4","5d2c43c4.c7a7ec"]]},{"id":"9e5a5dda.34716","type":"inject","z":"a4f37cc4.87592","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":360,"wires":[["629e9fd5.5675e"]]},{"id":"6d88c010.a78a","type":"function","z":"a4f37cc4.87592","name":"temp","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["a2452efb.b046b","efc416b0.c972e8"]]},{"id":"a2452efb.b046b","type":"ui_gauge","z":"a4f37cc4.87592","name":"","group":"34dbfecb.04cea2","order":2,"width":0,"height":0,"gtype":"gage","title":"temp","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#00ff00","#ca3838"],"seg1":"","seg2":"","x":670,"y":240,"wires":[]},{"id":"6dc32cc7.77be64","type":"function","z":"a4f37cc4.87592","name":"soilmoisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["efc416b0.c972e8","b5ffb236.47e73"]]},{"id":"b5ffb236.47e73","type":"ui_gauge","z":"a4f37cc4.87592","name":"","group":"34dbfecb.04cea2","order":4,"width":0,"height":0,"gtype":"gage","title":"soilmoisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ff0000"],"seg1":"","seg2":"","x":870,"y":100,"wires":[]},{"id":"a042afb4.8b19f","type":"function","z":"a4f37cc4.87592","name":"openweathertemp","func":"msg.payload=msg.payload.main.temp;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":360,"wires":[["efc416b0.c972e8","ee13fe77.4998"]]},{"id":"ee13fe77.4998","type":"ui_gauge","z":"a4f37cc4.87592","name":"","group":"34dbfecb.04cea2","order":5,"width":0,"height":0,"gtype":"gage","title":"realtemp","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":360,"wires":[]},{"id":"668ebc8d.3b62f4","type":"function","z":"a4f37cc4.87592","name":"openweatherhumidity","func":"msg.payload=msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":460,"wires":[["c7ea2093.50d0e","efc416b0.c972e8"]]},{"id":"5d2c43c4.c7a7ec","type":"function","z":"a4f37cc4.87592","name":"openweatherpressure","func":"msg.payload=msg.payload.main.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":560,"wires":[["d45296d9.9ca2d8","efc416b0.c972e8"]]},{"id":"c7ea2093.50d0e","type":"ui_gauge","z":"a4f37cc4.87592","name":"","group":"34dbfecb.04cea2","order":6,"width":0,"height":0,"gtype":"gage","title":"realhumidity","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1550,"y":460,"wires":[]},{"id":"d45296d9.9ca2d8","type":"ui_gauge","z":"a4f37cc4.87592","name":"","group":"34dbfecb.04cea2","order":7,"width":0,"height":0,"gtype":"gage","title":"realpressure","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1550,"y":560,"wires":[]},{"id":"a8bc0ae8.77c678","type":"ibmiot out","z":"a4f37cc4.87592","authentication":"apiKey","apiKey":"1de7e954.7ff1e7","outputType":"cmd","deviceId":"987654321","deviceType":"nodemcu","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1220,"y":760,"wires":[]},{"id":"e0a63fe6.c2f33","type":"ui_button","z":"a4f37cc4.87592","name":"","group":"58a15744.b3afc8","order":6,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":750,"y":700,"wires":[["a8bc0ae8.77c678"]]},{"id":"58ebcb79.cc2224","type":"ui_button","z":"a4f37cc4.87592","name":"","group":"29ea4bf9.ecd414","order":0,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":740,"y":800,"wires":[["a8bc0ae8.77c678"]]},{"id":"1de7e954.7ff1e7","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"34dbfecb.04cea2","type":"ui_group","z":"","name":"IOT","tab":"7d3f18ab.073808","order":4,"disp":true,"width":"6","collapse":false},{"id":"58a15744.b3afc8","type":"ui_group","z":"","name":"motor commands","tab":"7d3f18ab.073808","order":3,"disp":true,"width":"13","collapse":false},{"id":"29ea4bf9.ecd414","type":"ui_group","z":"","name":"motor commands","tab":"7d3f18ab.073808","order":1,"disp":true,"width":"13","collapse":false},{"id":"7d3f18ab.073808","type":"ui_tab","z":"","name":"Agriculture","icon":"dashboard","disabled":false,"hidden":false}]